body, ul, li, h1, h2, span{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
body{
	
	overflow-x: hidden;
	margin-right:-20%;

}
.slidingMenu {
	position: absolute;
	height:410px;
	width: 410px;
	top:40px;
	overflow:hidden;
	right:1px;
	font-family: Arial, Helvetica, sans-serif;
}
.slidingMenu li {
	display:block;
	float:right;
	clear:both;
	position:relative;
	overflow:hidden;
}
.slidingMenu li.move {
	width: 9px;
	height: 68px;
	right:0px;
	padding-right:10px;
	margin-top:2px;
	z-index: 8;
	position: absolute;    
	background: #2183c4;     
	background: 
		-webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(#0771b8), 
			to(#2183c4)
		);     
	background: 
		-moz-linear-gradient(
			top, 
			#0771b8, 
			#2183c4
		);     
	-moz-border-radius: 8px 0px 0px 8px;  
	-webkit-border-top-left-radius: 8px;     	
	-webkit-border-bottom-left-radius: 8px; 
	border-top-left-radius: 8px;  
	border-bottom-left-radius: 8px;        
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;	
	}
.slidingMenu li a {
	font-size:66px;
	text-transform:uppercase;
	text-decoration: none;
	color: rgba(221, 221, 221, 0.315);
	outline: none;
	text-indent:5px;
	z-index: 10;
	display: block;
	float: right;
	height: 66px;
	line-height: 66px;
	position: relative;
	overflow: hidden;
	padding-right:10px;
}
.slidingMenu li a :: hover{
    color: :white
}
/* Descriptions */
.slidingMenuDesc{
	margin-top:40px;
	position:relative;
}
.slidingMenuDesc div{
	background: #2183c4;     
	background: 
		-webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(#0771b87e), 
			to(#2183c486)
		);     
	background: 
		-moz-linear-gradient(
			top, 
			#0771b8, 
			#2183c4
		);   	
	height: 68px;
	padding-right:5px;
	left:-5px;
	width:0px;
	margin-top:2px;
	overflow:hidden;
	position:absolute;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
	-moz-border-radius: 0px 8px 8px 0px;  
	-webkit-border-top-right-radius: 8px;     	
	-webkit-border-bottom-right-radius: 8px; 
	border-top-right-radius: 8px;  
	border-bottom-right-radius: 8px; 
}
.slidingMenuDesc div span {
	font-size:36px;
	color: #f0f0f0;
	text-indent:5px;
	z-index: 10;
	display: block;
	height: 66px;
	line-height: 66px;
	position:absolute;
	right:10px;
	margin-left:5px;
	top:-3px;
}
#bgvid{
	width: 100%;
	margin-top:5%;
}
.jumbotron-fluid{
	height:63vh;
	background-image:("1594884522393.png");
	background-position: center;
	background-size:cover;
	padding-top:5%;
	background-color: #0c0800;
    color: white;
}
	
#blogSnaps{
	margin-top:6%;
}
#Title{
	margin:14%;
}

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.stats .fa {
  color: #008080;
  font-size: 60px;
}

.parallax {
	/* The image used */
	background-image: url('https://positiveroutines.com/wp-content/uploads/2018/12/stack-of-books-against-blue-background.jpg');
  
	/* Full height */
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

  }
#summary{
	width:196vw;
	margin-top: 5%;
}
.lead{
	font-weight: bold;
	background-color: rgba(250, 250, 250, 0.418);

}
  

@keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }
  .slider {
	background: rgb(250, 248, 248);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 300px;
	margin: auto;
	position: relative;
	width: 100vw;
	margin-top:8%;
  }
  .slider::before, .slider::after {
	background: linear-gradient(to right, rgb(241, 235, 235) 0%, rgba(99, 95, 95, 0.007) 100%);
	content: "";
	height: 300px;
	position: absolute;
	width: 200px;
	z-index: 2;
  }
  .slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  .slider::before {
	left: 0;
	top: 0;
  }
  .slider .slide-track {
	animation: scroll 18s linear infinite;
	display: flex;
	width: calc(250px * 14);
  }
  .slider .slide {
	  margin-top: 2%;
	  margin-left: 2%;
	height: 150px;
	width: 250px;
  }
  #eventName{
	  color: gray;
	  font-size: 20px;
  }
  #subHead{
	  margin-top:9%;
	  
  }
  .card-body{
	  background-color:black;
	  color: white;
  }
 
  
  h2 {
	color: #0a4870;
	font-weight: 500;
  }
  
  #cards-ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
  }
  ul .booking-card {
	position: relative;
	width: 300px;
	display: flex;
	flex: 0 0 300px;
	flex-direction: column;
	margin: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #0a4870;
	transition: 0.3s;
  }
  ul .booking-card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 72, 112, 0);
	transition: 0.3s;
  }
  ul .booking-card .book-container {
	height: 200px;
  }
  ul .booking-card .book-container .content {
	position: relative;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	transform: translateY(-200px);
	transition: 0.3s;
  }
  ul .booking-card .book-container .content .btn {
	border: 3px solid white;
	padding: 10px 15px;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	color: white;
	cursor: pointer;
	transition: 0.3s;
  }
  ul .booking-card .book-container .content .btn:hover {
	background: white;
	border: 0px solid white;
	color: #0a4870;
  }
  ul .booking-card .informations-container {
	flex: 1 0 auto;
	padding: 20px;
	background: #f0f0f0;
	transform: translateY(206px);
	transition: 0.3s;
  }
  ul .booking-card .informations-container .title {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.2em;
  }
  ul .booking-card .informations-container .title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	width: 50px;
	margin: auto;
	background: #0a4870;
  }
  ul .booking-card .informations-container .price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
  }
  ul .booking-card .informations-container .price .icon {
	margin-right: 10px;
  }
  ul .booking-card .informations-container .more-information {
	opacity: 0;
	transition: 0.3s;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container {
	display: flex;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box {
	flex: 1 0;
	padding: 15px;
	margin-top: 20px;
	border-radius: 10px;
	background: white;
	font-weight: bold;
	font-size: 0.9em;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
	margin-bottom: 5px;
  }
  ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
	color: #ec992c;
	margin-right: 10px;
  }
  ul .booking-card .informations-container .more-information .disclaimer {
	margin-top: 20px;
	font-size: 0.8em;
	color: #7d7d7d;
  }
  ul .booking-card:hover::before {
	background: rgba(10, 72, 112, 0.6);
  }
  ul .booking-card:hover .book-container .content {
	opacity: 1;
	transform: translateY(0px);
  }
  ul .booking-card:hover .informations-container {
	transform: translateY(0px);
  }
  ul .booking-card:hover .informations-container .more-information {
	opacity: 1;
  }
  
  @media (max-width: 768px) {
	ul .booking-card::before {
	  background: rgba(10, 72, 112, 0.6);
	}
	ul .booking-card .book-container .content {
	  opacity: 1;
	  transform: translateY(0px);
	}
	ul .booking-card .informations-container {
	  transform: translateY(0px);
	}
	ul .booking-card .informations-container .more-information {
	  opacity: 1;
	}
  }
  .credits {
	display: table;
	background: #0a4870;
	color: white;
	line-height: 25px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
  }
  .credits a {
	color: #e3ebf1;
  }
  
  h1 {
	margin: 10px 20px;
  }
  